<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082426771290-kgn4kg6o0und38ear3vf09r2pic0lubb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082426771290-kgn4kg6o0und38ear3vf09r2pic0lubb</string>
	<key>API_KEY</key>
	<string>AIzaSyA80GZVLR-ox4KQxBN3CQZTdeFlPqaMsLk</string>
	<key>GCM_SENDER_ID</key>
	<string>1082426771290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTodoApp</string>
	<key>PROJECT_ID</key>
	<string>mytodolist-81a77</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodolist-81a77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082426771290:ios:56ec3c1a3a18a6cc6f1563</string>
</dict>
</plist>